<% include (function_file) %>
<div class="card user-card mb-3">
    <div class="card-body">
        <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>PID</th>
                    <th><%= lingua.process_page.column_name %></th>
                    <th>CPU</th>
                    <th>RAM</th>
                </tr>
            </thead>
            <tbody>
                <%
                    var sum_memory = {};
                    for(var i=0; i < list_app.length; i++){
                        if (sum_memory.hasOwnProperty(list_app[i].name)) {
                            sum_memory[list_app[i].name] = sum_memory[list_app[i].name] + list_app[i].ram;
                        } else {
                            sum_memory[list_app[i].name] = list_app[i].ram;
                        }
                %>
                    <tr>
                        <td><%- list_app[i].pid %></td>
                        <td><%- list_app[i].name %></td>
                        <td><%- list_app[i].cpu %></td>
                        <td><%= formatBytes(list_app[i].ram) %></td>
                    </tr>
                <%
                    }
                %>
            </tbody>
        </table>
    </div>
</div>
<%
var obj2 = [];

for (var prop in sum_memory) {
    obj2.push({ name: prop, value: formatBytes(sum_memory[prop]) });
}

%>
<div class="row">
<%
    for (const [key, value] of Object.entries(obj2)) {
%>
       <div class="col-md-6 mb-3">
            <div class="card user-card">
                <div class="card-body">
                    <b><%= value.name %></b>
                    <h4><%= value.value %></h4>
                </div>
            </div>
       </div>
<% } %>
</div>
<script>
    $(document).ready( function () {
        $('#example').DataTable({
            "order":[],
            "columnDefs":[{
                "targets":[],
                "orderable": false,
            },
            ],
            "aLengthMenu": [[10, 15, 20, 25, 30], [10, 15, 20, 25, 30]],
            "iDisplayLength": 10,
        });
    })
</script>