<div class="row">
    <div class="col-md-12">
       <div class="card user-card">
        <div class="card-body">
            <h2><%= lingua.changelog_page.title %></h2>
            <p><%= lingua.changelog_page.desc_changelog %> <a href="https://docs.whapi.id/mulai-aplikasi/maintenance-dan-update" target="blank"><%= lingua.auth_page.desc_table_3_2_link %></a></p>
            <%
                for(var i=0; i < data.length; i++){
            %>
            <h5><a href="#" onclick="getDataVersion('<%= data[i].id_changelog %>')">Versi <%- data[i].tags %> ( <%- data[i].date %> )</a></h5>
            <hr/>
            <%
                }
            %>
         </div>
       </div>
    </div>
</div>

<div class="modal fade" id="load-log-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= lingua.changelog_page.desc_detail_log %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="update-log"></div>
        </div>
    </div>
</div>

<script>
    var lang = '<%= lang %>';

    function getDataVersion(id){
        $.ajax({
            url: '../user/changelogLoad',
            type: 'post',
            data: "id_changelog=" + id + "&lang=" + lang,
            success: function(e) {
                $('#load-log-modal').modal('show');
                $("#update-log").html(e);
            },
            error: function(xhr, status, error) {
                loadToast('danger', "Ada error : xhr = " + xhr.status + ' | pesan = ' + xhr.statusText)
            }
        });
    }
</script>
